*:focus {
  outline: none;
}

html {
  line-height: 1.5;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
p,
pre {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
  line-height: inherit;
}

button,
input {
  border: 0;
}
