$fs-01: 0.75rem;
$fs-02: 0.875rem;
// $fs-03: 1rem;
// $fs-04: 1.125rem;
// $fs-05: 1.25rem;
// $fs-06: 1.5rem;
$fs-07: 1.875rem;
// $fs-08: 2.25rem;
// $fs-09: 3rem;
// $fs-10: 4rem;
// $fs-11: 5rem;

// $pd-00: 0px;
// $pd-01: 0.125rem;
$pd-02: 0.25rem;
// $pd-03: 0.375rem;
$pd-04: 0.5rem;
// $pd-05: 0.625rem;
$pd-06: 0.75rem;
// $pd-07: 0.875rem;
$pd-08: 1rem;
// $pd-09: 1.25rem;
// $pd-10: 1.5rem;
// $pd-11: 1.75rem;
$pd-12: 2rem;
// $pd-13: 2.25rem;
// $pd-14: 2.5rem;
// $pd-15: 2.75rem;
// $pd-16: 3rem;
// $pd-17: 3.5rem;
// $pd-18: 4rem;

// $mg-00: 0px;
// $mg-01: 0.125rem;
// $mg-02: 0.25rem;
// $mg-03: 0.375rem;
$mg-04: 0.5rem;
// $mg-05: 0.625rem;
$mg-06: 0.75rem;
// $mg-07: 0.875rem;
$mg-08: 1rem;
$mg-09: 1.25rem;
$mg-10: 1.5rem;
// $mg-11: 1.75rem;
$mg-12: 2rem;
// $mg-13: 2.25rem;
// $mg-14: 2.5rem;
// $mg-15: 2.75rem;
// $mg-16: 3rem;
// $mg-17: 3.5rem;
// $mg-18: 4rem;

// $br-00: 0px;
// $br-01: 0.125rem;
$br-02: 0.25rem;
$br-03: 0.375rem;
$br-04: 0.5rem;
// $br-05: 0.75rem;
$br-05: 20px;
// $br-06: 1rem;
// $br-07: 1.5rem;

// $bw-00: 0px;
// $bw-01: 2px;
$bw-02: 4px;
// $bw-03: 8px;
// $bw-04: 1px;

// $dr-01: 75ms;
// $dr-02: 100ms;
// $dr-03: 150ms;
// $dr-04: 200ms;
$dr-05: 300ms;
// $dr-06: 500ms;
// $dr-07: 700ms;
// $dr-08: 1000ms;

// $bp-01: 640px;
// $bp-02: 768px;
$bp-03: 1024px;
$bp-04: 1280px;
// $bp-05: 1536px;
